body{
    background-color: #e1e1e1;
}
#head{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #333;
    color: #ccc;
    font-size: 2em;
    border: 1px solid #f0f0f0;
}
#type{
    z-index:5;
    position: fixed;
    top:7%;
    left: 0;
    background: #ccc;
    width: 50%;
    height: 400px;
    display: none;
}
#type ul{
    margin-top:15%;
    font-size: 1.7em;
    line-height: 2em;
    padding: 2px;

}
#type li{
    width: 100%;
    list-style-type:none;
}
#from{
    font-size: 1.3em;
    bottom:0;
    float: left;
}
#colorHead{
    width: 100%;
    height: 2px;
    background-color: #e1e1e1;
}
#addButton,#typeButton{
    margin-top:2%; 
}          
#content{
    background: #fff;
    margin-top: 18%;
}
#content a:hover,#content a:visited,#content a:link,#content a:active,#content a{
    text-decoration: none;
    color: #333;
}
@media (min-width: 460px) { 
    #head{
        position:static;
    }
    #content{
        margin-top: 1%;
    }
 }
.contentHead{
    margin-top: 2%;
    width: 85%;  /*必须设置宽度*/
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}
.contentFoot{
    width: 100%;
}
.Topic{
   border: 1px solid #f0f0f0;
}
.top,.good{
    background: #80bd01;
    color: #fff;
    margin: 2%;
}
.share,.ask,.job,.other{
    background-color: #e1e1e1;
    color: rgba(0, 0, 0, 0.48);
    margin:2%;
}
.avatar{
    margin: 3% 1% 0 3%;
}
.CreateInfo{
    font-size:0.8em;
    margin: 2% auto;
    left:-2%;
    font-family: 微软雅黑;
    color:rgba(0, 0, 0, 0.48);
}
.VisitInfo{
    right: -2em;
    font-family: 微软雅黑;
    margin: 2% auto;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.48);
}
.Reply{
    color: #C93;
}
.Number,.LastReply{
    float: right;
    word-break:keep-all;
}
#canva{
    position: fixed;
    filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity:0.5; /*Firefox私有，透明度50%*/
    opacity:0.5;/*其他，透明度50%*/
    background: #e1e1e1;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}
.topicHead{
    margin-top: 18%;
}
.topicTitle{
    font-size: 22px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 98%;
    line-height: 130%;
    
}
.topicAuthorInfo{
    height: 32px;
    white-space: nowrap;
}
#topicTime{
    float: right;
    margin-right: 6%; 
}
.topicAuthor{
    margin: 1% auto;
    left: -5%;
    font-weight: 700;
    color: #26609a;
}
.topicContent{
    margin-top: 3%;
    max-width: 100%;
    overflow: hidden;
}
img{
    max-width: 100%;
}
.replyContents{
    margin-top: 2%;
    /*background: #f0f0f0;*/
    
}
.replyCount{

    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1% ;
}
.replyContent{
    border-top-style:ridge;
}
.findMe{
    margin:3.5% auto;
    font-size: 1.5em;
}
.replyInfo{
    margin:2.8% auto;
}
.replyText{
    color: rgba(0, 0, 0, 0.55);
    margin-left: 3%;
    overflow:scroll;
}
.replyAvatar{
    margin:2%;
}
.floor{
    color: rgba(138, 109, 59, 0.81)
}
code,.prettyprint{
    overflow: scroll;
}
.userInformation{
    margin-top: 20%;
}
.authorText,.authorInformation{
    text-align: center;
    line-height: 1.4em;
    margin-bottom: 2em;
}
.userButton{
    margin-top: 2%;
    text-align: center;
}
.userReply{
    margin-top: 2%;
    
}
.userReplyContent{
    
    vertical-align: middle;
    margin-top: 2%;
    
}
.userReplyTitle{
    width: 100%;  /*必须设置宽度*/
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
    margin-bottom: 2%;
}
.recentReply{
    display: block;
}
.recentTopic{
    display: none;
}
.collectTopic{
    display: none;
}
